---
import '../styles/base.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-background dark:bg-background-dark text-text-primary dark:text-text-dark-primary p-4 pt-10 flex flex-col min-h-screen max-w-screen mx-auto justify-center">
		<main class="mt-10 grow flex justify-center w-full">
			<h1 class="text-4xl font-semibold antialiased mb-1 leading-snug">Astro</h1>
		</main>
	</body>
</html>
